// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.isHaveOtherSubsidy-input {
    width: 0% !important;
}

.isHaveOtherSubsidy-span {
    width: 75% !important;
}
